<?xml version="1.0" encoding="UTF-8"?>
<web-app id="console-war" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Bonita Console</display-name>
	<filter>
		<filter-name>BPMURLSupportFilter</filter-name>
		<filter-class>org.bonitasoft.forms.server.filter.BPMURLSupportFilter</filter-class>
	</filter>
	<!-- Cache Filter Start -->
	<filter>
		<filter-name>CacheFilter</filter-name>
		<filter-class>org.bonitasoft.forms.server.filter.CacheFilter</filter-class>
		<init-param>
			<param-name>js</param-name>
			<param-value>604800</param-value>
		</init-param>
		<init-param>
			<param-name>gif</param-name>
			<param-value>604800</param-value>
		</init-param>
		<init-param>
			<param-name>png</param-name>
			<param-value>604800</param-value>
		</init-param>
		<init-param>
			<param-name>jpg</param-name>
			<param-value>604800</param-value>
		</init-param>
		<init-param>
			<param-name>css</param-name>
			<param-value>604800</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>ApplicationResourceCacheFilter</filter-name>
		<filter-class>org.bonitasoft.forms.server.filter.ApplicationResourceCacheFilter</filter-class>
		<init-param>
			<param-name>js</param-name>
			<param-value>3600</param-value>
		</init-param>
		<init-param>
			<param-name>gif</param-name>
			<param-value>3600</param-value>
		</init-param>
		<init-param>
			<param-name>png</param-name>
			<param-value>3600</param-value>
		</init-param>
		<init-param>
			<param-name>jpg</param-name>
			<param-value>3600</param-value>
		</init-param>
		<init-param>
			<param-name>css</param-name>
			<param-value>3600</param-value>
		</init-param>
	</filter>
	<!-- Cache Filter End -->
	<filter>
		<filter-name>SetCharacterEncoding</filter-name>
		<filter-class>org.bonitasoft.forms.server.filter.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>Web Authentication Filter</filter-name>
		<filter-class>org.exoplatform.bonitasoft.filter.SetCredentialsInSessionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Web Authentication Filter</filter-name>
		<url-pattern>/*</url-pattern>

	</filter-mapping>
	<filter-mapping>
		<filter-name>BPMURLSupportFilter</filter-name>
		<url-pattern>/console/BonitaConsole.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>BPMURLSupportFilter</filter-name>
		<url-pattern>/console/admin.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>BPMURLSupportFilter</filter-name>
		<url-pattern>/console/homepage</url-pattern>
	</filter-mapping>
	<!-- Cache Filter Mapping Start -->
	<filter-mapping>
		<filter-name>CacheFilter</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheFilter</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheFilter</filter-name>
		<url-pattern>*.gif</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheFilter</filter-name>
		<url-pattern>*.png</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheFilter</filter-name>
		<url-pattern>*.jpg</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ApplicationResourceCacheFilter</filter-name>
		<url-pattern>/console/applicationResource</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ApplicationResourceCacheFilter</filter-name>
		<url-pattern>/console/themeResource</url-pattern>
	</filter-mapping>
	<!-- Cache Filter Mapping End -->
	<filter-mapping>
		<filter-name>SetCharacterEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>org.bonitasoft.console.security.server.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.security.server.CredentialsEncryptionServlet/security/credentialsencryption</servlet-name>
		<servlet-class>org.bonitasoft.console.security.server.CredentialsEncryptionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.server.bam.BonitaWebReport/console/bam/run</servlet-name>
		<servlet-class>org.bonitasoft.console.server.bam.BonitaWebReport</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.server.ImageRendererServlet/console/image/renderer</servlet-name>
		<servlet-class>org.bonitasoft.console.server.ImageRendererServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.server.bam.ReportingServlet/console/reporting</servlet-name>
		<servlet-class>org.bonitasoft.console.server.bam.ReportingServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.server.users.UserServletconsole/user</servlet-name>
		<servlet-class>org.bonitasoft.console.server.users.UserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.forms.server.ApplicationResourceServletconsole/applicationResource</servlet-name>
		<servlet-class>org.bonitasoft.forms.server.ApplicationResourceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.server.ConsoleResourceServletconsole/consoleResource</servlet-name>
		<servlet-class>org.bonitasoft.console.server.ConsoleResourceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.servlet.AttachmentImageServletconsole/attachmentImage</servlet-name>
		<servlet-class>org.bonitasoft.console.servlet.AttachmentImageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.security.server.LoginServletconsole/loginservice</servlet-name>
		<servlet-class>org.bonitasoft.console.security.server.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.forms.server.login.FormLoginServletconsole/formlogin</servlet-name>
		<servlet-class>org.bonitasoft.forms.server.login.FormLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.server.login.ConsoleLoginServletconsole/login</servlet-name>
		<servlet-class>org.bonitasoft.console.server.login.ConsoleLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.server.identity.IdentityServletconsole/identity</servlet-name>
		<servlet-class>org.bonitasoft.console.server.identity.IdentityServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.servlet.AttachmentDownloadServletconsole/attachmentDownload</servlet-name>
		<servlet-class>org.bonitasoft.console.servlet.AttachmentDownloadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.forms.server.FormLayoutDownloadServletconsole/formLayoutDownload</servlet-name>
		<servlet-class>org.bonitasoft.forms.server.FormLayoutDownloadServlet</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>org.bonitasoft.console.server.steps.StepServletconsole/step</servlet-name>
		<servlet-class>org.bonitasoft.console.server.steps.StepServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.server.steps.EventServletconsole/event</servlet-name>
		<servlet-class>org.bonitasoft.console.server.steps.EventServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.forms.server.FormsServletconsole/formsservice</servlet-name>
		<servlet-class>org.bonitasoft.forms.server.FormsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.forms.server.FormsServletapplication/homepage</servlet-name>
		<servlet-class>org.bonitasoft.forms.server.HomepageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.servlet.FileUploadServletconsole/fileUpload</servlet-name>
		<servlet-class>org.bonitasoft.console.servlet.FileUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.server.categories.CategoryServletconsole/category</servlet-name>
		<servlet-class>org.bonitasoft.console.server.categories.CategoryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.server.processes.ProcessServletconsole/process</servlet-name>
		<servlet-class>org.bonitasoft.console.server.processes.ProcessServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.server.cases.CaseServletconsole/case</servlet-name>
		<servlet-class>org.bonitasoft.console.server.cases.CaseServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.server.labels.LabelServletconsole/label</servlet-name>
		<servlet-class>org.bonitasoft.console.server.labels.LabelServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.common.themes.ThemeResourceServletconsole/themeResource</servlet-name>
		<servlet-class>org.bonitasoft.console.common.themes.ThemeResourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/console/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.security.server.CredentialsEncryptionServlet/security/credentialsencryption</servlet-name>
		<url-pattern>/security/credentialsencryption</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.server.bam.BonitaWebReport/console/bam/run</servlet-name>
		<url-pattern>/console/bam/run</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.server.ImageRendererServlet/console/image/renderer</servlet-name>
		<url-pattern>/console/image/renderer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.server.bam.ReportingServlet/console/reporting</servlet-name>
		<url-pattern>/console/reporting</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.server.users.UserServletconsole/user</servlet-name>
		<url-pattern>/console/user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.forms.server.ApplicationResourceServletconsole/applicationResource</servlet-name>
		<url-pattern>/console/applicationResource</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.server.ConsoleResourceServletconsole/consoleResource</servlet-name>
		<url-pattern>/console/consoleResource</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.servlet.AttachmentImageServletconsole/attachmentImage</servlet-name>
		<url-pattern>/console/attachmentImage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.security.server.LoginServletconsole/loginservice</servlet-name>
		<url-pattern>/console/loginservice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.forms.server.login.FormLoginServletconsole/formlogin</servlet-name>
		<url-pattern>/console/formlogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.server.login.ConsoleLoginServletconsole/login</servlet-name>
		<url-pattern>/console/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.server.identity.IdentityServletconsole/identity</servlet-name>
		<url-pattern>/console/identity</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.servlet.AttachmentDownloadServletconsole/attachmentDownload</servlet-name>
		<url-pattern>/console/attachmentDownload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.forms.server.FormLayoutDownloadServletconsole/formLayoutDownload</servlet-name>
		<url-pattern>/console/formLayoutDownload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.server.steps.StepServletconsole/step</servlet-name>
		<url-pattern>/console/step</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.server.steps.EventServletconsole/event</servlet-name>
		<url-pattern>/console/event</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.forms.server.FormsServletconsole/formsservice</servlet-name>
		<url-pattern>/console/formsservice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.servlet.FileUploadServletconsole/fileUpload</servlet-name>
		<url-pattern>/console/fileUpload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.server.categories.CategoryServletconsole/category</servlet-name>
		<url-pattern>/console/category</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.server.processes.ProcessServletconsole/process</servlet-name>
		<url-pattern>/console/process</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.server.cases.CaseServletconsole/case</servlet-name>
		<url-pattern>/console/case</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.forms.server.FormsServletapplication/homepage</servlet-name>
		<url-pattern>/console/homepage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.server.labels.LabelServletconsole/label</servlet-name>
		<url-pattern>/console/label</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.common.themes.ThemeResourceServletconsole/themeResource</servlet-name>
		<url-pattern>/console/themeResource</url-pattern>
	</servlet-mapping>
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>